<template>
  <div class="btn-group" :class="disabledSelection ? 'disabled' : ''">

    <li @click="toggleMenu()" class="base-dropdown-toggle" v-if="selectedOption.name !== undefined">
      {{ selectedOption.name }}
      <span class="caret"></span>
    </li>

    <li @click="toggleMenu()" class="base-dropdown-toggle base-dropdown-toggle-placeholder" v-if="selectedOption.name === undefined">
      {{placeholderText}}
      <span class="caret"></span>
    </li>

    <ul class="dropdown-menu" v-if="showMenu">
      <li v-for="(option, idx) in options" :key="idx">
        <a href="javascript:void(0)" @click="updateOption(option)">
          {{ option.name }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'base-dropdown-input',
    data() {
      return {
        selectedOption: {
          name: '',
        },
        showMenu: false,
        placeholderText: 'Please select an item',
        disabledSelection: false
      }
    },
    props: {
      options: {
        type: [Array, Object]
      },
      selected: {},
      placeholder: [String],
      closeOnOutsideClick: {
        type: [Boolean],
        default: true,
      },
      disabled: false
    },

    mounted() {
      this.selectedOption = this.selected;
      this.disabledSelection = this.disabled;
      if (this.placeholder) {
        this.placeholderText = this.placeholder;
      }

      if (this.closeOnOutsideClick) {
        document.addEventListener('click', this.clickHandler);
      }
    },

    beforeDestroy() {
      document.removeEventListener('click', this.clickHandler);
    },

    methods: {
      updateOption(option) {
        this.selectedOption = option;
        this.showMenu = false;
        this.$emit('updateOption', this.selectedOption);
      },

      toggleMenu() {
        if (!this.disabled) {
          this.showMenu = !this.showMenu;
        }
      },

      clickHandler(event) {
        const { target } = event;
        const { $el } = this;

        if (!$el.contains(target)) {
          this.showMenu = false;
        }
      },

      log(message) {
        console.log(message);
      }
    }
  }
</script>

<style>

  .btn-group {
    min-width: 160px;
    height: 40px;
    position: relative;
    margin: 10px 1px;
    display: inline-block;
    vertical-align: middle;
  }
  .btn-group a:hover {
    text-decoration: none;
  }

  .base-dropdown-toggle {
    width: 100%;
    color: #636b6f;
    min-width: 160px;
    padding: 6px 20px 10px 10px;
    text-transform: none;
    font-weight: 300;
    margin-bottom: 7px;
    border: 0;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .base-dropdown-toggle:hover {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    background-clip: padding-box;
  }

  .dropdown-menu > li > a {
    padding: 10px 30px;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.6;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
  }
  .dropdown-menu > li > a:hover {
    background: #efefef;
    color: #409FCB;
  }

  .dropdown-menu > li {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0;
  }

  .caret {
    width: 0;
    position: absolute;
    top: 19px;
    height: 0;
    margin-left: -24px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    right: 10px;
  }

  li {
    list-style: none;
  }
</style>
