html, body {
  background-color: #f6f7fc !important;
}

@media (min-width: 1024px) {
  .crf-form-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .crf-left-section {
    background: #99c5a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.crf-left-section-image {
  margin-top: 50px;
  margin-bottom: 50px;
}
.crf-titles {
  color: #99c5a1;
}
.crf-submit-button {
  background: #7dbb85;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 100px 10px 100px;
  text-align: center;
  border: 0;
}
.crf-submit-button:hover {
  background: #5cb85c;
  color: #ffffff;
}
.form-check .form-check-sign::before, .form-check .form-check-sign::after {
  color: #99c5a1 !important;
}
.form-check .form-check-label {
  padding-left: 23px !important;
}
.terms-label {
  font-size: 10pt;
}
.w2lf-dropdown-toggle {
  width: 100%;
  margin-top: 0px;
  border-radius: 5px;
  border: 1px solid #ced4da !important;
}
.dropdown-toggle {
  background-image: none;
}
ul.dropdown-menu {
  opacity: 1;
  visibility: visible;
  display: block;
  max-height: 20em;
  overflow: auto;
  overflow-x: hidden;
}
.form-group {
  margin-bottom: 0.5rem;
}
.customer-info-tc h5 {
  font-weight: bold;
  margin-top: 1em;
}
.control-label {
  margin-bottom: 0px;
}
.btn-group {
  margin-top: 0 !important;
  background-color: #ffffff !important;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.7;
  z-index: 1000;
  width: 100%;
  height: 100vh;
}
*:focus {
  outline: none;
}
.global-datepiker input {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}
.global-datepiker input[disabled] {
  background-color: #F5F5F5;
  color: #888888;
  cursor: not-allowed;
}
.w2lf-dropdown-toggle.disabled {
  background-color: #F5F5F5 !important;
  color: #888888;
  cursor: not-allowed;
}
.form-step a {
  color: #0b2e13;
}
.form-step a:hover {
  color: #99c5a1;
}


.wizard a {
  padding: 10px 12px 10px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  min-width: 24.75%;
  margin-left: 0.25%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #707070;
  background: #EBEBEB;
  text-transform: uppercase;
  cursor: pointer;
}
.wizard a:hover {
  text-decoration: none;
  color: #99c5a1;
}
.wizard a:first-child {
  margin-left: 0;
}
.wizard:not(.left-arrow) a:before {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #FFFFFF;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.wizard:not(.left-arrow) a:after {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #EBEBEB;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}
.wizard a.wizard-done {
  background-color: #99c5a1;
  color: #0b2e13;
}
.wizard:not(.left-arrow) a.wizard-done:after {
  border-left: 20px solid #99c5a1;
  color: #0b2e13;
}
.wizard a.current {
  background-color: #99c5a1;
  color: #0b2e13;
}
.wizard:not(.left-arrow) a.current:after {
  border-left: 20px solid #99c5a1;
  color: #0b2e13;
}
