<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <customer-info-review>
          </customer-info-review>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import CustomerInfoReview from './CustomerInfoReview/CustomerInfoReview.vue'

  export default {
    components: {
      CustomerInfoReview,
    }
  }

</script>
<style>

</style>
