<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <partner-onboarding-form>
          </partner-onboarding-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import PartnerOnboardingForm from './PartnerOnboardingForm/PartnerOnboardingForm.vue'

  export default {
    components: {
      PartnerOnboardingForm,
    }
  }

</script>
<style>

</style>
