<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <web-to-lead-form>
          </web-to-lead-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import WebToLeadForm from './WebToLeadForm/WebToLeadForm.vue'

  export default {
    components: {
      WebToLeadForm,
    }
  }

</script>
<style>

</style>
