<template>

  <div class="crf-form-wrapper">

    <div class="overlay-box" v-if="isLoading">
      <div class="spinner"></div>
    </div>

    <div class="row w-100" v-if="!isAgreedWithTC">

      <div :class="['col-10', 'mt-2', 'offset-1']">

        <h3 class="h4 font-weight-bold mb-4 crf-titles text-center">
          Please, check and agree Terms & Conditions
        </h3>

        <div class="customer-info-tc">
          <h4>Terms and Conditions</h4>
          <h5>Introduction</h5>

          These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at Website.com.

          These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.

          Minors or people below 18 years old are not allowed to use this Website.

          Intellectual Property Rights
          Other than the content you own, under these Terms, Company Name and/or its licensors own all the intellectual property rights and materials contained in this Website.

          You are granted limited license only for purposes of viewing the material contained on this Website.

          <h5>Restrictions</h5>
          You are specifically restricted from all of the following:

          publishing any Website material in any other media;
          selling, sublicensing and/or otherwise commercializing any Website material;
          publicly performing and/or showing any Website material;
          using this Website in any way that is or may be damaging to this Website;
          using this Website in any way that impacts user access to this Website;
          using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;
          engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;
          using this Website to engage in any advertising or marketing.
          Certain areas of this Website are restricted from being access by you and Company Name may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.

          <h5>Your Content</h5>
          In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Company Name a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.

          Your Content must be your own and must not be invading any third-party's rights. Company Name reserves the right to remove any of Your Content from this Website at any time without notice.

          <h5>No warranties</h5>
          This Website is provided “as is,” with all faults, and Company Name express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.

          <h5>Limitation of liability</h5>
          In no event shall Company Name, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  Company Name, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.

          <h5>Indemnification</h5>
          You hereby indemnify to the fullest extent Company Name from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.

          <h5>Severability</h5>
          If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.

          <h5>Variation of Terms</h5>
          Company Name is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.

          <h5>Assignment</h5>
          The Company Name is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.

          <h5>Entire Agreement</h5>
          These Terms constitute the entire agreement between Company Name and you in relation to your use of this Website, and supersede all prior agreements and understandings.

          <h5>Governing Law & Jurisdiction</h5>
          These Terms will be governed by and interpreted in accordance with the laws of the State of Country, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Country for the resolution of any disputes.

        </div>

      </div>
    </div>

    <div class="row w-100" v-if="isAgreedWithTC">

      <div :class="['col-10' , 'mt-2', 'offset-1']">

        <h3 class="h4 font-weight-bold mb-4 crf-titles text-center">
          Please, review your data
        </h3>

        <div class="mb-3">
          <small class="text-uppercase font-weight-bold"></small>
        </div>

        <div class="row">

          <div class="col-10 offset-1" v-if="!isSubmitted">

            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <base-input type="text" label="First Name" placeholder="First Name" v-model="lead.first_name"/>
              </div>

              <div class="col-lg-4 col-sm-12">
                <base-input type="text" label="Last Name" placeholder="Last Name" v-model="lead.last_name"/>
              </div>

              <div class="col-lg-4 col-sm-12">
                <base-input type="text" label="Date of Birth" placeholder="Date of Birth" v-model="lead.date_of_birth"/>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <base-input type="email" label="Email" placeholder="Email" v-model="lead.email"/>
              </div>

              <div class="col-lg-3 col-sm-12">
                <base-input type="text" label="Phone" placeholder="Phone" v-model="lead.phone"/>
              </div>

              <div class="col-lg-3 col-sm-12">
                <base-input type="text" label="Mobile Phone" placeholder="Mobile Phone" v-model="lead.mobile_phone"/>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-6 col-sm-12">
                <base-input type="text" label="Employer Name" placeholder="Employer Name" v-model="lead.employer_name"/>
              </div>

              <div class="col-lg-6 col-sm-12">
                <base-input type="text" label="Job Title" placeholder="Job Title" v-model="lead.job_title"/>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <base-input type="text" label="City" placeholder="City" v-model="lead.city"/>
              </div>

              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <label class="control-label">
                    State/Province
                  </label>
                  <base-dropdown-input class="w2lf-dropdown-toggle"
                                       :options="statesList"
                                       :selected="lead.state"
                                       v-on:updateOption="selectState"
                                       :placeholder="'Select State'"
                                       :closeOnOutsideClick="true">
                  </base-dropdown-input>
                </div>
              </div>

              <div class="col-lg-4 col-sm-12">
                <base-input type="text" label="Zip" placeholder="Zip" v-model="lead.zip"/>
              </div>

              <div class="col-lg-12 col-sm-12">
                <base-input type="text" label="Street" placeholder="Street" v-model="lead.street"/>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <base-input type="text" label="SSN" placeholder="SSN" v-model="lead.ssn"/>
              </div>
              <div class="col-lg-4 col-sm-6">
                <base-input type="text" label="Sub Account Number" placeholder="Sub Account Number" v-model="lead.sub_account_number"/>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="form-group">
                  <label class="control-label">
                    Pay Frequency
                  </label>
                  <base-dropdown-input class="w2lf-dropdown-toggle"
                                       :options="arrayOfObjects"
                                       :selected="pay_frequency"
                                       v-on:updateOption="selectPayFrequency"
                                       :placeholder="'Select frequency'"
                                       :closeOnOutsideClick="true">
                  </base-dropdown-input>
                </div>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-lg-6 col-sm-12">
                <div class="row">
                  <div class="col-2" style="width: 30px; margin-top: -7px;">
                    <base-checkbox v-model="lead.direct_deposit_checked" :inline=true></base-checkbox>
                  </div>
                  <div class="col-10 terms-label">
                    Direct Deposit
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12" v-if="(lead.direct_deposit_checked)">
                <base-input type="number" label="Deposit Amount" placeholder="Deposit Amount" v-model="lead.deposit_amount"/>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-lg-12 col-sm-12">
                <base-input type="text" label="Checking Account Bank Name" placeholder="Checking Account Bank Name" v-model="lead.checking_account_bank_name"/>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <base-input type="text" label="Checking Account Number" placeholder="Checking Account Number" v-model="lead.checking_account_number"/>
              </div>

              <div class="col-lg-6 col-sm-12">
                <base-input type="text" label="Checking Account Routing Number" placeholder="Checking Account Routing Number" v-model="lead.checking_account_rounting_number"/>
              </div>
            </div>

            <div class="col-lg-12 col-sm-12 text-center mt-3 mb-5">
              <div class="row">
                <div class="col-lg-6 col-sm-6 text-center mt-3 mb-5">
                  <button type="submit" class="crf-submit-button" @click.prevent="approveWebToLeadForm">
                    Correct
                  </button>
                </div>
                <div class="col-lg-6 col-sm-6 text-center mt-3 mb-5">
                  <button type="submit" class="crf-submit-button" @click.prevent="editWebToLeadForm">
                    Edit
                  </button>
                </div>
              </div>
            </div>

          </div>

          <div class="col-10 offset-1" v-if="isSubmitted">
            <h3 class="text-center">The Lead successfully submitted!</h3>
          </div>

        </div>
      </div>
    </div>

  </div>

</template>
<script>
  import axios from 'axios';
  import dropdown from 'vue-dropdowns';

  const toUrlEncoded = obj => Object.keys(obj).map(k => encodeURIComponent(k) + '=' + encodeURIComponent(obj[k])).join('&');

  const statesList = [{name:"Alabama",id:"AL"},{name:"Alaska",id:"AK"},{name:"American Samoa",id:"AS"},{name:"Arizona",id:"AZ"},{name:"Arkansas",id:"AR"},{name:"California",id:"CA"},{name:"Colorado",id:"CO"},{name:"Connecticut",id:"CT"},{name:"Delaware",id:"DE"},{name:"District Of Columbia",id:"DC"},{name:"Federated States Of Micronesia",id:"FM"},{name:"Florida",id:"FL"},{name:"Georgia",id:"GA"},{name:"Guam",id:"GU"},{name:"Hawaii",id:"HI"},{name:"Idaho",id:"ID"},{name:"Illinois",id:"IL"},{name:"Indiana",id:"IN"},{name:"Iowa",id:"IA"},{name:"Kansas",id:"KS"},{name:"Kentucky",id:"KY"},{name:"Louisiana",id:"LA"},{name:"Maine",id:"ME"},{name:"Marshall Islands",id:"MH"},{name:"Maryland",id:"MD"},{name:"Massachusetts",id:"MA"},{name:"Michigan",id:"MI"},{name:"Minnesota",id:"MN"},{name:"Mississippi",id:"MS"},{name:"Missouri",id:"MO"},{name:"Montana",id:"MT"},{name:"Nebraska",id:"NE"},{name:"Nevada",id:"NV"},{name:"New Hampshire",id:"NH"},{name:"New Jersey",id:"NJ"},{name:"New Mexico",id:"NM"},{name:"New York",id:"NY"},{name:"North Carolina",id:"NC"},{name:"North Dakota",id:"ND"},{name:"Northern Mariana Islands",id:"MP"},{name:"Ohio",id:"OH"},{name:"Oklahoma",id:"OK"},{name:"Oregon",id:"OR"},{name:"Palau",id:"PW"},{name:"Pennsylvania",id:"PA"},{name:"Puerto Rico",id:"PR"},{name:"Rhode Island",id:"RI"},{name:"South Carolina",id:"SC"},{name:"South Dakota",id:"SD"},{name:"Tennessee",id:"TN"},{name:"Texas",id:"TX"},{name:"Utah",id:"UT"},{name:"Vermont",id:"VT"},{name:"Virgin Islands",id:"VI"},{name:"Virginia",id:"VA"},{name:"Washington",id:"WA"},{name:"West Virginia",id:"WV"},{name:"Wisconsin",id:"WI"},{name:"Wyoming",id:"WY"}];
  const getContactInfoURL = window.upwardIncomeAppConfig.webToLeadSubmitURL;
  const defaultPartnerId = window.upwardIncomeAppConfig.webToLeadDefaultPartnerId;

  export default {
    components: {
      'dropdown': dropdown,
    },
    data() {
      return {
        lead: {
          company: '',
          email: '',
          first_name: '',
          last_name: '',
          date_of_birth: '',
          phone: '',
          mobile_phone: '',
          employer_name: '',
          job_title: '',
          zip: '',
          city: '',
          state: '',
          street: '',
          ssn: '',
          direct_deposit_checked: false,
          deposit_amount: 0,
          checking_account_bank_name: '',
          checking_account_number: '',
          checking_account_rounting_number: '',
          sub_account_number: ''
        },
        isSubmitted: false,
        isLoading: false,
        isAgreedWithTC: true,
        arrayOfObjects: [
          {id: 'Every week', name: "Every week"},
          {id: 'Every two weeks', name: "Every two weeks"},
          {id: 'One a month', name: "One a month"}
        ],
        pay_frequency: {id: 'Every week', name: "Every week"},
        statesList
      }
    },
    beforeMount() {
      document.title = this.$route.meta.title;

      const contactId = this.$route.params.contactId;
      const token = this.$route.params.token;

      const url = getContactInfoURL + "?" + "contactId=" + contactId + "&token=" + token;
      const self = this;
      axios({
        method: 'get',
        url: url,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          "Access-Control-Allow-Origin": "*"
        }
      })
        .then(function (response) {
          const info = response.data;
          self.lead.first_name = info.FirstName;

          self.lead.email = info.Email;
          self.lead.first_name = info.FirstName;
          self.lead.last_name = info.LastName;
          // self.lead.date_of_birth = info.;
          self.lead.phone = info.Phone;
          // self.lead.mobile_phone = info.;
          self.lead.employer_name = info.Employer_name__c;
          self.lead.job_title = info.Job_title__c;
          self.lead.zip = info.MailingPostalCode;
          self.lead.city = info.MailingCity;
          self.lead.state = info.MailingState;
          self.lead.street = info.MailingStreet;
          self.lead.ssn = info.SSN_Encrypted__c;
          // self.lead.deposit_amount = info.;
          self.lead.checking_account_bank_name = info.Checking_account_bank_name__c;
          self.lead.checking_account_number = info.Checking_account_bank_account__c;
          self.lead.checking_account_rounting_number = info.Checking_account_routing_number__c;
          self.lead.sub_account_number = info.Sub_account_number__c;

          // Id: "0030v00000UvSJWAA3"
          // Pay_frequency__c: "Every week"
          // Direct_deposit_status__c: false
          // Confirmed__c: false
        })
        .catch(function (error) {
          console.log('error', error);
        });

    },
    methods: {
      approveWebToLeadForm() {

      },
      editWebToLeadForm() {

      },
      submitWebToLeadForm() {
        let self = this;

        self.isLoading = true;

        let leadData = {...this.lead};

        leadData.pay_frequency = this.pay_frequency.id;
        leadData.direct_deposit_checked = this.direct_deposit_checked ? 1 : 0;
        leadData.partnerId =  this.$route.params.partnerId || defaultPartnerId;

        axios({
          method: 'post',
          url: web2LeadSubmitURL,
          data: toUrlEncoded(leadData),
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "Access-Control-Allow-Origin": "*"
          }
        })
          .then(function (response) {
            self.isSubmitted = true;
            console.log('success', response);
          })
          .catch(function (error) {
            console.log('error', error);
          })
          .finally(function() {
            self.isLoading = false;
          });
      },
      selectPayFrequency(payload) {
        console.log(payload);
        this.pay_frequency = payload;
      },
      selectState(payload) {
        this.lead.state = payload.id;
      }
    }
  }

</script>
<style>
  @import './CustomerInfoReview.css';
</style>
