.wtlf-titles {
  color: #99c5a1;
}
.wtlf-submit-button {
  background: #7dbb85;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 100px 10px 100px;
  text-align: center;
  border: 0;
}
.wtlf-submit-button:hover {
  background: #5cb85c;
  color: #ffffff;
}
.w2lf-right-image {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.wtlf-form-wrapper .wizard a {
  min-width: 19.75%;
}
.wtlf-form-wrapper .wizard.confirmation a {
  min-width: 24.75%;
}

