.po-submit-button {
  background: #7dbb85;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 100px 10px 100px;
  text-align: center;
  border: 0;
}
.po-submit-button:hover {
  background: #5cb85c;
  color: #ffffff;
}
.po-datepiker input {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.partner-onboarding .wizard a {
  min-width: 16.35%;
}
.partner-onboarding .partner-bank-holidays .form-group {
  margin-bottom: 0.2rem;
}
